                    <h2>Sign up for early access</h2>
                    <p>Enter your email address below, and we&rsquo;ll email you when it&rsquo;s ready.</p>
                	<form role="form" name="EarlyAccessForm" ng-controller="EarlyAccessCtrl" ng-submit="submitData(form)" novalidate>
                    	<div class="input-group">
			                <input placeholder="johndoe@example.com" class="form-control" type="email" id="early_email" name="early_email" ng-model="form.email" required />
			                <div class="input-group-btn">
				                <button class="btn btn-default">Sign Up</button>
			                </div>
						</div>
                	</form>